<div class="container">

  <div class="page-header">
    <h1>Hookers <small>Find what you always wanted !</small></h1>
  </div>
  <div class="container">
    <div class="row">
      <% @hookers.each do |hooker| %>

        <%= render 'card', hooker: hooker %>
      <% end %>
    </div>
  </div>
</div>
<div id="map" style="width: 100%; height: 400px;"></div>
</div>
<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ provider: {scrollwheel: false}, internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(12);
        }
      });
    });
  </script>
<% end %>
