<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h1>Edit your booking</h1>
      <%= render "form" %>
      <%= link_to "Back to all your bookings", hooker_bookings_path(@hooker) %>
    </div>
  </div>
</div>
