<h1 class="text-center">Summarize of the Booking</h1>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-3">
     <p><%= @booking.hooker %></p>
     <p><%= @booking.start_date %></p>
      <p><%= @booking.end_date %></p>
      <p><%= @booking.special %></p>
       </div>

  </div>
</div>
